body{
    font-family:sans-serif;
    display:flex;
    background:#222831;
    align-items:center;
    justify-content:center;
    height:100vh;
    color:white;
}
.table{
    background:#fff;
    overflow-y:auto;
    box-shadow:0px 10px 50px 0px rgba(0,0,0,0.5);
    border-radius:10px;
    padding: 5rem;
}
table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
}
table thead th,
table tbody td{
    padding:15px;
    border:none;
    font-weight:600;
    font-size:14px;
}
table thead th{
    background:#1861ac;
    color:white;
    font-size:16px;
    position:sticky;
    top:-1%;
}
table tbody td{
    border-bottom:1px solid rgba(0,0,0,0.1);
}